

.container{
    text-align: center;
    margin:200px 0 100px 0;
}

table{
    margin: auto;
}

input{
    border-radius: none;
    border: 1px solid #000;
    font-size:24px;
    height: 55px;
    width: 400px;
    background-color: rgb(181, 176, 186);
}

button{
    border-radius: 8px;
    font-size: 40px;
    background: #9d3cbb;
    width: 60px;
    height: 60px;
    margin: 6px;
    border: none;
    outline: none;
}

.calculator{ 
    border: 2px solid #000;
    background-color: #423665;
    padding: 23px;
    border-radius: none;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
